<p id="notice"><%= notice %></p>

<p>
  <strong>Confirmationnumber:</strong>
  <%= @event_ticket.confirmationNumber %>
</p>

<%= link_to 'Edit', edit_event_ticket_path(@event_ticket) %> |
<%= link_to 'Back', event_tickets_path %>
