<p id="notice"><%= notice %></p>

<p>
  <strong>Confirmation Number: </strong>
  <%= @event_ticket.confirmationNumber %>
</p>

<p>

<%= link_to 'Home Page', root_path %>
<%= link_to "Logout", logout_path %>