<p id="notice"><%= notice %></p>

<p>
  <strong>Confirmation Number: </strong>
  <%= @event_ticket.confirmationNumber %>
</p>

<p>

<%# if current_user.name == "admin" %>
<!--    <%#= link_to 'Edit', edit_event_ticket_path(@event_ticket) %> |-->
<%# end %>

<%= link_to 'Home Page', root_path %>
